# Solomon - Python Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Project specific
state.json
logs/
assets/logs/

# IDEs and Tools
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.DS_Store
/temp/
